In [1]:
import os
import re
import nltk
import spacy
import string
import textract
import pandas as pd
import seaborn as sns
from matplotlib import pylab
from matplotlib import pyplot as plt

from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from wordcloud import WordCloud, STOPWORDS
from nltk.stem import PorterStemmer, WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer

import warnings
warnings.filterwarnings('ignore')

In [2]:
pip install textract

Requirement already satisfied: textract in c:\users\priya\anaconda3\lib\site-packages (1.6.5)
Requirement already satisfied: argcomplete~=1.10.0 in c:\users\priya\anaconda3\lib\site-packages (from textract) (1.10.3)
Requirement already satisfied: beautifulsoup4~=4.8.0 in c:\users\priya\anaconda3\lib\site-packages (from textract) (4.8.2)
Requirement already satisfied: chardet==3.* in c:\users\priya\anaconda3\lib\site-packages (from textract) (3.0.4)
Requirement already satisfied: docx2txt~=0.8 in c:\users\priya\anaconda3\lib\site-packages (from textract) (0.8)
Requirement already satisfied: extract-msg<=0.29.* in c:\users\priya\anaconda3\lib\site-packages (from textract) (0.28.7)
Collecting pdfminer.six==20191110 (from textract)
  Using cached pdfminer.six-20191110-py2.py3-none-any.whl (5.6 MB)
Requirement already satisfied: python-pptx~=0.6.18 in c:\users\priya\anaconda3\lib\site-packages (from textract) (0.6.21)
Requirement already satisfied: six~=1.12.0 in c:\users\priya\anaconda3\lib\site-packages (from textract) (1.12.0)
Requirement already satisfied: SpeechRecognition~=3.8.1 in c:\users\priya\anaconda3\lib\site-packages (from textract) (3.8.1)
Requirement already satisfied: xlrd~=1.2.0 in c:\users\priya\anaconda3\lib\site-packages (from textract) (1.2.0)
Requirement already satisfied: pycryptodome in c:\users\priya\anaconda3\lib\site-packages (from pdfminer.six==20191110->textract) (3.18.0)
Requirement already satisfied: sortedcontainers in c:\users\priya\anaconda3\lib\site-packages (from pdfminer.six==20191110->textract) (2.4.0)
Requirement already satisfied: soupsieve>=1.2 in c:\users\priya\anaconda3\lib\site-packages (from beautifulsoup4~=4.8.0->textract) (2.3.1)
Requirement already satisfied: imapclient==2.1.0 in c:\users\priya\anaconda3\lib\site-packages (from extract-msg<=0.29.*->textract) (2.1.0)
Requirement already satisfied: olefile>=0.46 in c:\users\priya\anaconda3\lib\site-packages (from extract-msg<=0.29.*->textract) (0.46)
Requirement already satisfied: tzlocal>=2.1 in c:\users\priya\anaconda3\lib\site-packages (from extract-msg<=0.29.*->textract) (4.3)
Requirement already satisfied: compressed-rtf>=1.0.6 in c:\users\priya\anaconda3\lib\site-packages (from extract-msg<=0.29.*->textract) (1.0.6)
Requirement already satisfied: ebcdic>=1.1.1 in c:\users\priya\anaconda3\lib\site-packages (from extract-msg<=0.29.*->textract) (1.1.1)
Requirement already satisfied: lxml>=3.1.0 in c:\users\priya\anaconda3\lib\site-packages (from python-pptx~=0.6.18->textract) (4.8.0)
Requirement already satisfied: Pillow>=3.3.2 in c:\users\priya\anaconda3\lib\site-packages (from python-pptx~=0.6.18->textract) (9.5.0)
Requirement already satisfied: XlsxWriter>=0.5.7 in c:\users\priya\anaconda3\lib\site-packages (from python-pptx~=0.6.18->textract) (3.0.3)
Requirement already satisfied: pytz-deprecation-shim in c:\users\priya\anaconda3\lib\site-packages (from tzlocal>=2.1->extract-msg<=0.29.*->textract) (0.1.0.post0)
Requirement already satisfied: tzdata in c:\users\priya\anaconda3\lib\site-packages (from tzlocal>=2.1->extract-msg<=0.29.*->textract) (2023.3)
Installing collected packages: pdfminer.six
  Attempting uninstall: pdfminer.six
    Found existing installation: pdfminer.six 20221105
    Uninstalling pdfminer.six-20221105:
      Successfully uninstalled pdfminer.six-20221105
Successfully installed pdfminer.six-20191110
Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pdfplumber 0.9.0 requires pdfminer.six==20221105, but you have pdfminer-six 20191110 which is incompatible.

In [3]:
def print_file_names(directory):
    for filename in os.listdir(directory):
        if os.path.isfile(os.path.join(directory, filename)):
            print(filename)

directory="Resumes/PeopleSoft"
print_file_names(directory)

Peoplesoft Admin_AnubhavSingh.docx
Peoplesoft Admin_G Ananda Rayudu.docx
Peoplesoft Admin_Gangareddy.docx
Peoplesoft Admin_Murali.docx
Peoplesoft Admin_Priyanka Ramadoss.docx
Peoplesoft Admin_SirazuddinMohammad.docx
Peoplesoft Admin_srinivasarao.docx
Peoplesoft Admin_Varkala Vikas.docx
Peoplesoft Admin_Vinod Akkala.docx
PeopleSoft DBA_Ganesh Alladi.docx
PeopleSoft DBA_Vivekanand Sayana.docx
Peoplesoft Finance_Arun Venu.docx
Peoplesoft Finance_Pritam Biswas.docx
Peoplesoft Finance_Rahul Ahuja.docx
Peoplesoft FSCM_HariNarayana.docx
Peoplesoft FSCM_Murali.docx
Peoplesoft FSCM_PriyabrataHota.docx
Peoplesoft FSCM_R Ahmed.docx
Peoplesoft FSCM_Resume_Subha_Santosh.docx
Peoplesoft FSCM_SUJATHA.docx

In [4]:
# import win32com.client as win32

# def convert_to_docx(doc_file):
#     word=win32.gencache.EnsureDispatch('Word.Application')
#     doc=word.Documents.Open(doc_file)
#     docx_file=os.path.splitext(doc_file)[0] + ".docx"
#     doc.SaveAs2(docx_file, FileFormat=16)
#     doc.Close()
    
# def convert_files_in_directory(directory):
#     for root, dirs, files in os.walk(directory):
#         for file in files:
#             if file.endswith(".doc"):
#                 doc_file = os.path.join(root, file)
#                 convert_to_docx(doc_file)
#                 os.remove(doc_file)  
#                 print(f"Converted and replaced '{doc_file}' with '{os.path.splitext(doc_file)[0]}.docx'")

# directory=r"C:\Users\Karthik\OneDrive\Desktop\NLP_project01\Resumes"
# convert_files_in_directory(directory)

In [5]:
os.listdir('Resumes/')

['PeopleSoft', 'React JS Developer', 'SQL Developer', 'Workday']

#  Exctract the Text from Dataset

In [6]:
file_path1 = []
category1  = []
directory1 = 'Resumes/PeopleSoft/'
for i in os.listdir(directory1):
    if i.endswith('.docx'):
        os.path.join(directory1, i)
        file_path1.append((textract.process(os.path.join(directory1, i))).decode('utf-8'))
        category1.append('PeopleSoft')

In [7]:
da1 = pd.DataFrame(data = file_path1 , columns = ['Raw_Details'])
da1['Category1'] = category1
da1

                                          Raw_Details   Category1
0   Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...  PeopleSoft
1   G. Ananda Rayudu \n\n\t\t       https://www.li...  PeopleSoft
2   PeopleSoft Database Administrator\n\n         ...  PeopleSoft
3   Classification: Internal\n\nClassification: In...  PeopleSoft
4   Priyanka Ramadoss\n\n\t61/46, MountPleasant, \...  PeopleSoft
5   SIRAZUDDIN M\n\n\tBangalore, INDIA\t\n\n\n\n\n...  PeopleSoft
6   PEOPLESOFT Administrator\n\n\n\n\n\nSRINIVAS.K...  PeopleSoft
7   PeopleSoft Admin\n\nVARKALA VIKAS\n\n\n\nCaree...  PeopleSoft
8   Vinod Akkala                                  ...  PeopleSoft
9   PeopleSoft Admin/PeopleSoft DBA\n\n\n\nGanesh ...  PeopleSoft
10  PeopleSoft Administration\n\n \n\nVivekanand S...  PeopleSoft
11  Arun Venu\n\n\n\n\t  EXPERIENCE SUMMARY\t\n\n\...  PeopleSoft
12  Personal Details\t\t\n\n\n\nName\n\nPritam Bis...  PeopleSoft
13  Rahul Ahuja\n\n-------------------------------...  PeopleSoft
14  Hari Narayana \t\t              \n\n\t\n\n\n\n...  PeopleSoft
15  Murali\t\t       \n\n\t\n\n\n\n\n\n\n\n\n\n\n\...  PeopleSoft
16  Priyabrata Hota\n\n\n\n\n\nCAREER OBJECTIVE\t\...  PeopleSoft
17  R Ahmed                                       ...  PeopleSoft
18  C O N T A C T :\n\n\n\nAddress: Manyata Tech P...  PeopleSoft
19  Tanna Sujatha \n\n\n\n\n\n\n\nOBJECTIVE\n\nSee...  PeopleSoft

In [8]:
file_path2 = []
category2  = []
directory2 = 'Resumes/React JS Developer/'
for i in os.listdir(directory2):
    if i.endswith('.docx'):
        os.path.join(directory2, i)
        file_path2.append((textract.process(os.path.join(directory2, i))).decode('utf-8'))
        category2.append('React JS Developer')

In [9]:
da2 = pd.DataFrame(data = file_path2 , columns = ['Raw_Details'])
da2['Category2'] = category2
da2

                                          Raw_Details           Category2
0   Name: Ravali P \n\n\n\n                       ...  React JS Developer
1   SUSOVAN  BAG   \n\nSeeking  a  challenging  po...  React JS Developer
2   Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREER ...  React JS Developer
3   HARIPRIYA BATTINA \n\nExperience as UI Develop...  React JS Developer
4   KAMALAKAR REDDY. A \n\nLinked In: https://www....  React JS Developer
5   Ui-Developer/ React JS Developer \n\nNAME: KRI...  React JS Developer
6   Ui-Developer/ React JS Developer \n\nNAME: KRI...  React JS Developer
7   Naveen Sadhu\n\n\n\n\n\nTitle: software develo...  React JS Developer
8   FULLSTACK SOFTWARE DEVELOPER / WEB DEVELOPER\n...  React JS Developer
9   PRAGNYA PATTNAIK\n\n \n\n \n\n \n\n Expertise:...  React JS Developer
10  SARALA MADASU\n\nSARALA MADASU\n\n 204,Sri ge...  React JS Developer
11  Thirupathamma Balla\n\n\n\nSUMMARY:\n\n\n\n2.8...  React JS Developer
12  Maryala Vinay Reddy\n\n\n\n\tProfessional Summ...  React JS Developer
13  CURRICULUM VITAE\n\n\n\n\n\n\n\nAnjani Priyada...  React JS Developer
14  KAMBALA SAI SURENDRA   \n\n \n\n \n\n \n\n\n\n...  React JS Developer
15  Kotani Durga Prasad\n\n\n\n\n\nObjective:\n\n\...  React JS Developer
16  MAREEDU LOKESH BABU\n\nPROFESSIONAL OVERVIEW\n...  React JS Developer
17  MAREEDU LOKESH BABU\n\n\n\nPROFESSIONAL OVERVI...  React JS Developer
18  MD KHIZARUDDIN RAUF \n\n \t EXPERIENCE \n\n   ...  React JS Developer
19  Pranish Sonone\n\n\t\t\n\n\n\n\n\n\n\n\n\nCare...  React JS Developer
20  Ranga Gaganam  \n\n\n\n \n\nProfessional\n\n \...  React JS Developer
21  SHAIK ABDUL SHARUK   \n\n2 years’ Experience i...  React JS Developer
22  Venkatalakshmi Pedireddy\n\nSoftware Developer...  React JS Developer

In [10]:
file_path3 = []
category3  = []
directory3 = 'Resumes/SQL Developer/'
for i in os.listdir(directory3):
    if i.endswith('.docx'):
        os.path.join(directory3, i)
        file_path3.append((textract.process(os.path.join(directory3, i))).decode('utf-8'))
        category3.append('SQL Developer')

In [11]:
da3 = pd.DataFrame(data = file_path3 , columns = ['Raw_Details'])
da3['Category3'] = category3
da3

                                          Raw_Details      Category3
0   ANIL KUMAR MADDUKURI  \t\t\n\nSQL & MSBI Devel...  SQL Developer
1   Aradhana Tripathi\n\n\n\nCurrent Location: Gac...  SQL Developer
2   BUDDHA VAMSI                                  ...  SQL Developer
3   KAMBALLA PRADEEP                              ...  SQL Developer
4    Hyderabad\n\n\nNazeer Basha\n\nSQL and Power...  SQL Developer
5   Resume\n\nName     :  Neeraj Mishra\n\n\n\nExp...  SQL Developer
6   SQL DEVELOPER\n\nName: -   Bandi prem sai\n\n\...  SQL Developer
7   SQL SERVER DEVELOPER\n\n\n\n\n\nPriyanka L    ...  SQL Developer
8   SQL SERVER DEVELOPER\n\n\n\n\n\nP. Syam Kumar ...  SQL Developer
9   RAJU PAVANA KUMARI\n\n\n\n\t\n\n\tProfessional...  SQL Developer
10  resume\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t\t\t\tRama...  SQL Developer
11  Name: Ramesh\n\n\t\n\n\tCareer Objective: \n\n...  SQL Developer
12  Tatikonda Kiran Kumar.\n\n\n\n\n\n\n\n\t\tCare...  SQL Developer
13  SQL AND MSBI DEVELOPER\n\nSQL AND MSBI DEVELOP...  SQL Developer

In [12]:
file_path4 = []
category4  = []
directory4 = 'Resumes/Workday/'
for i in os.listdir(directory4):
    if i.endswith('.docx'):
        os.path.join(directory4, i)
        file_path4.append((textract.process(os.path.join(directory4, i))).decode('utf-8'))
        category4.append('Workday')

In [13]:
da4 = pd.DataFrame(data = file_path4 , columns = ['Raw_Details'])
da4['Category4'] = category4
da4

                                          Raw_Details Category4
0   Chinna Subbarayudu M\n\nDOB: 06th March 1994\n...   Workday
1   Name         : Gopi Krishna Reddy\n\n\t\t\t\t ...   Workday
2   Hari Krishna M\n\n\n\n\n\nSummary:\n\nA result...   Workday
3   Harikrishna Akula                             ...   Workday
4   HIMA.MENDU\n\n\t  \n\n\n\nCareer Objective\n\n...   Workday
5   G Himaja\n\n                                  ...   Workday
6   Name:\tJ. Sumanth Royal.\n\n\t\n\nPROFESSIONAL...   Workday
7   JYOTI VERMA\t\t\t\t\t\n\n\n\nPROFESSIONAL SUMM...   Workday
8   Madeeswar A\n\n\t\n\n\t\t\n\n\t\t\tPROFILE SUM...   Workday
9   Mooraboyina Guravaiah\n\nWorkday Integration S...   Workday
10  Name\t: Naresh Babu Cherukuri\n\n\n\nObjective...   Workday
11  VENKATA SAIKRISHNA\n\n Workday Consultant\n\n\...   Workday
12  Punugoti Swetha\n\nWorkday Technical Consultan...   Workday
13  Workday HCM  Techno functional Consultant     ...   Workday
14  Ramesh A\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...   Workday
15  Shireesh Balasani                             ...   Workday
16  Workday Integration Consultant\n\n\n\nName    ...   Workday
17  Srikanth (WORKDAY hCM Consultant)\t           ...   Workday
18  WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...   Workday
19  Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consult...   Workday
20  Vinay kumar .v\nWorkday Functional Consultant\...   Workday

# Create a DataFrame¶

In [14]:
resume_data = da1.append([da2, da3, da4], ignore_index = True)
resume_data

,Raw_Details,Category1,Category2,Category3,Category4
0,Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...,PeopleSoft,NaN,NaN,NaN
1,G. Ananda Rayudu \n\n\t\t https://www.li...,PeopleSoft,NaN,NaN,NaN
2,PeopleSoft Database Administrator\n\n ...,PeopleSoft,NaN,NaN,NaN
3,Classification: Internal\n\nClassification: In...,PeopleSoft,NaN,NaN,NaN
4,"Priyanka Ramadoss\n\n\t61/46, MountPleasant, \...",PeopleSoft,NaN,NaN,NaN
...,...,...,...,...,...
73,Workday Integration Consultant\n\n\n\nName ...,NaN,NaN,NaN,Workday
74,Srikanth (WORKDAY hCM Consultant)\t ...,NaN,NaN,NaN,Workday
75,WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...,NaN,NaN,NaN,Workday
76,Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consult...,NaN,NaN,NaN,Workday
77,Vinay kumar .v\nWorkday Functional Consultant\...,NaN,NaN,NaN,Workday

In [15]:
resume_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Raw_Details  78 non-null     object
 1   Category1    20 non-null     object
 2   Category2    23 non-null     object
 3   Category3    14 non-null     object
 4   Category4    21 non-null     object
dtypes: object(5)
memory usage: 3.2+ KB

# 1 Merge all Unnecessary column in One Column

In [16]:
resume_data['Category'] = category1 + category2 + category3 + category4
resume_data

,Raw_Details,Category1,Category2,Category3,Category4,Category
0,Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...,PeopleSoft,NaN,NaN,NaN,PeopleSoft
1,G. Ananda Rayudu \n\n\t\t https://www.li...,PeopleSoft,NaN,NaN,NaN,PeopleSoft
2,PeopleSoft Database Administrator\n\n ...,PeopleSoft,NaN,NaN,NaN,PeopleSoft
3,Classification: Internal\n\nClassification: In...,PeopleSoft,NaN,NaN,NaN,PeopleSoft
4,"Priyanka Ramadoss\n\n\t61/46, MountPleasant, \...",PeopleSoft,NaN,NaN,NaN,PeopleSoft
...,...,...,...,...,...,...
73,Workday Integration Consultant\n\n\n\nName ...,NaN,NaN,NaN,Workday,Workday
74,Srikanth (WORKDAY hCM Consultant)\t ...,NaN,NaN,NaN,Workday,Workday
75,WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...,NaN,NaN,NaN,Workday,Workday
76,Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consult...,NaN,NaN,NaN,Workday,Workday
77,Vinay kumar .v\nWorkday Functional Consultant\...,NaN,NaN,NaN,Workday,Workday

In [17]:
resume_data.drop(['Category1', 'Category2', 'Category3', 'Category4'], axis = 1, inplace = True)
resume_data = resume_data[["Category", "Raw_Details"]]

# 1.2 Final Dataset

In [18]:
resume_data.head(25)

              Category                                        Raw_Details
0           PeopleSoft  Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...
1           PeopleSoft  G. Ananda Rayudu \n\n\t\t       https://www.li...
2           PeopleSoft  PeopleSoft Database Administrator\n\n         ...
3           PeopleSoft  Classification: Internal\n\nClassification: In...
4           PeopleSoft  Priyanka Ramadoss\n\n\t61/46, MountPleasant, \...
5           PeopleSoft  SIRAZUDDIN M\n\n\tBangalore, INDIA\t\n\n\n\n\n...
6           PeopleSoft  PEOPLESOFT Administrator\n\n\n\n\n\nSRINIVAS.K...
7           PeopleSoft  PeopleSoft Admin\n\nVARKALA VIKAS\n\n\n\nCaree...
8           PeopleSoft  Vinod Akkala                                  ...
9           PeopleSoft  PeopleSoft Admin/PeopleSoft DBA\n\n\n\nGanesh ...
10          PeopleSoft  PeopleSoft Administration\n\n \n\nVivekanand S...
11          PeopleSoft  Arun Venu\n\n\n\n\t  EXPERIENCE SUMMARY\t\n\n\...
12          PeopleSoft  Personal Details\t\t\n\n\n\nName\n\nPritam Bis...
13          PeopleSoft  Rahul Ahuja\n\n-------------------------------...
14          PeopleSoft  Hari Narayana \t\t              \n\n\t\n\n\n\n...
15          PeopleSoft  Murali\t\t       \n\n\t\n\n\n\n\n\n\n\n\n\n\n\...
16          PeopleSoft  Priyabrata Hota\n\n\n\n\n\nCAREER OBJECTIVE\t\...
17          PeopleSoft  R Ahmed                                       ...
18          PeopleSoft  C O N T A C T :\n\n\n\nAddress: Manyata Tech P...
19          PeopleSoft  Tanna Sujatha \n\n\n\n\n\n\n\nOBJECTIVE\n\nSee...
20  React JS Developer  Name: Ravali P \n\n\n\n                       ...
21  React JS Developer  SUSOVAN  BAG   \n\nSeeking  a  challenging  po...
22  React JS Developer  Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREER ...
23  React JS Developer  HARIPRIYA BATTINA \n\nExperience as UI Develop...
24  React JS Developer  KAMALAKAR REDDY. A \n\nLinked In: https://www....

In [19]:
resume_data["Raw_Details"][4]

'Priyanka Ramadoss\n\n\t61/46, MountPleasant, \n\n\tCoonoor\n\n\tThe Nilgiris- 643102                                                                                            \n\n\t\n\nCareer Objective\n\n\n\nTo excel as a software professional by working in a learning and challenging environment and utilize the skills and knowledge through diligence, dedication and ensure maximum contribution to the growth of the organization I work for.\n\n\t\n\nProfile Summary\n\n\n\nAn Adept IT professional with 4.11 years (September 2016 - present) of experience as Peoplesoft Admin with Accenture\n\n\t\n\nProfessional Summary\n\n\n\nPeopleSoft Administrator (September 2016-Present)\n\n\n\nExperience in PeopleSoft Administration for Finance application.\n\nProficient in creating and configuring PeopleSoft components like Web server, Application server and process schedulers.\n\nActive monitoring in Non production databases and applications.\n\nKnowledgeable on PeopleSoft migrations using application designer, data mover and taking compare reports and also moving the codes from DEV to TEST and production environments.\n\nUsage of HP PPM tool as well to perform PeopleSoft migrations and compare report generation.\n\nFull life cycle installation of PeopleSoft Environments.\n\nPre and Post database Refresh activities.\n\nChange package creation and applying bug fixes using change assistant to Peoplesoft DB. \n\nProficient in administration of Peoplesoft server components like application server, process scheduler, webserver. (Peoplesoft Internet Architecture)\n\nGood knowledge on basic PeopleSoft configurations like Integration Broker setup, PUM Setup, SSL and File attachments and trouble shooting them.\n\nHands on experience in Peoplesoft security level activities like creating user profile, assigning roles and permission list.\n\nSSO login creation for users by renewing web certificates.\n\nPerforming SOX checks and migrations as part of Production releases on monthly basis.\n\nConversant on the usage of Control-M V9 tool that is used for creating and scheduling the jobs.\n\nExperienced in setting up batch profile setup in server level for running control-m jobs in testing and production environments. \n\nPeoplesoft batch monitoring and implementation.\n\nWorked on Change Assistant.\n\nExperience in applying People tools patches.\n\nExperience in creating change packagees and target databases in CA and online.\n\nExperience in working in both Unix and Windows.\n\nWorked on Delphix virtual databases for non production database refreshes.\n\nCarrying out maintenance activities in servers.\n\nGood communication, Leadership abilities and problem solving skills.\n\n\n\nVMware ITBM Application Support Associate \n\n\n\nConfiguring and maintaining infrastructure for ITBM application in Windows OS.\n\nWorked on Apache Tomcat 7.0.39 and 7.0.52.\n\nVMware ITBM 80 and 82 versions on windows server.\n\nSSL configuration\n\nComplete batch setup in windows envrironment.\n\nHandling production and non production databases in ITBM\n\n\n\n\n\nTools and Technologies\n\n\n\nOperating Systems\n\nWindows 2007/2008/2012 server R2\n\n Solaris Server and Linux Red hat Version\n\nApache Tomcat 7.0.39 and 7.0.52\n\nAWS Service Tools\n\nCompute\n\nStorage\n\nNetworks\n\nDatabases\n\nMonitoring\n\nIdentity access management\n\nProject Management Tools\n\nOdyssey Dashboard\n\nOdyssey JIRA\n\nService Now\n\nTransporter\n\n\n\nDatabases\n\nSQL Developer\n\n\n\nPeopleSoft People Tools\n\n8.55.06\n\n8.55.22\n\n8.57\n\n\n\nPeopleSoft Application\n\n   FSCM and 9.22 version\n\n\n\nReporting and PS Tools\n\nApplication Designer\n\nData Mover\n\nDelphix virtual database\n\nConfiguration Manager\n\nChange Assistant\n\nSQR, N-Vision,\n\nControl-M Scheduler \n\nHP PPM\n\nSQL developer\n\nCentrify Putty\n\nConfiguration manager\n\n\t\n\n\t\n\nKey Achievements :\n\n\n\n\tInfrastructure support for Production environments and also provide system contingency plans.\n\n\tAnalyze technical and functional aspects of the supported applications and troubleshoot problems based on requirements.\n\n\tDetailed Analysis and Reporting of Project activities.\n\n\t\n\n\tExperience Summary:\n\n\t\n\n\tOrganization : Accenture Solutions Pvt Ltd.\n\n\tClient : Credit - Suisse\n\n\tClient Description : Credit Suisse Group AG is a global wealth manager, investment bank and financial services company providing services in investment banking, provate banking and asset management and sahred services.\n\n\tResponsibility:  Environment administration and management for a financial application.\n\n\tLocation : Bangalore\n\n\tDuration : September 2016- Present\n\n\t\n\n\t\n\nEducation\n\n\n\n\n\nCourse\n\n\n\nSchool/College\n\n\n\nBoard/University\n\nYear of passing\n\n\n\nPercentage\n\n\n\nB.E - ECE\n\n\n\nSri Krishna College of Engineering and Technology, Coimbatore\n\n\n\nAnna University\n\n\n\n2016\n\n86%\n\n\t\n\n\n\nHSC\n\nBharathi Vidya Bhavan,\n\nErode\n\nState Board of Technical Education\n\n\t\n\n\t2012\n\n\t\t             96.08%\n\n\t\t        School Topper\n\nS.S.L.C\n\nSt. Joseph’s Convent Anglo Indian Girls Higher Secondary School,\n\nThe Nilgiris\n\nAnglo-Indian\n\n2010\n\n\t\t93.8%\n\n\t\t          District Third\n\n\n\nPersonal Profile\n\n\n\nOotacamund  (Ooty),\n\nTamil Nadu district\n\nPlace of birth\n\nTamil – Native\n\nEnglish - Advanced- Comprehension - Oral\n\nKannada - Intermediate – Oral\n\nHindi -  Intermediate\n\nSanskrit- Intermediate\n\nLanguages\n\nReading books, Yoga, Gardening, Surfing.\n\nHobbies'

# 1.3save new CSV file

In [20]:
resume_data.to_csv('Raw_Resume.csv', index=False)

# 2. Data Understanding

In [21]:
resume_data = pd.read_csv("Raw_Resume.csv")
resume_data

      Category                                        Raw_Details
0   PeopleSoft  Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...
1   PeopleSoft  G. Ananda Rayudu \n\n\t\t       https://www.li...
2   PeopleSoft  PeopleSoft Database Administrator\n\n         ...
3   PeopleSoft  Classification: Internal\n\nClassification: In...
4   PeopleSoft  Priyanka Ramadoss\n\n\t61/46, MountPleasant, \...
..         ...                                                ...
73     Workday  Workday Integration Consultant\n\n\n\nName    ...
74     Workday  Srikanth (WORKDAY hCM Consultant)\t           ...
75     Workday  WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...
76     Workday  Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consult...
77     Workday  Vinay kumar .v\nWorkday Functional Consultant\...

[78 rows x 2 columns]

In [22]:
resume_data[resume_data.Category == 'Workday']

   Category                                        Raw_Details
57  Workday  Chinna Subbarayudu M\n\nDOB: 06th March 1994\n...
58  Workday  Name         : Gopi Krishna Reddy\n\n\t\t\t\t ...
59  Workday  Hari Krishna M\n\n\n\n\n\nSummary:\n\nA result...
60  Workday  Harikrishna Akula                             ...
61  Workday  HIMA.MENDU\n\n\t  \n\n\n\nCareer Objective\n\n...
62  Workday  G Himaja\n\n                                  ...
63  Workday  Name:\tJ. Sumanth Royal.\n\n\t\n\nPROFESSIONAL...
64  Workday  JYOTI VERMA\t\t\t\t\t\n\n\n\nPROFESSIONAL SUMM...
65  Workday  Madeeswar A\n\n\t\n\n\t\t\n\n\t\t\tPROFILE SUM...
66  Workday  Mooraboyina Guravaiah\n\nWorkday Integration S...
67  Workday  Name\t: Naresh Babu Cherukuri\n\n\n\nObjective...
68  Workday  VENKATA SAIKRISHNA\n\n Workday Consultant\n\n\...
69  Workday  Punugoti Swetha\n\nWorkday Technical Consultan...
70  Workday  Workday HCM  Techno functional Consultant     ...
71  Workday  Ramesh A\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...
72  Workday  Shireesh Balasani                             ...
73  Workday  Workday Integration Consultant\n\n\n\nName    ...
74  Workday  Srikanth (WORKDAY hCM Consultant)\t           ...
75  Workday  WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...
76  Workday  Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consult...
77  Workday  Vinay kumar .v\nWorkday Functional Consultant\...

In [23]:
resume_data.isnull().sum()

Category       0
Raw_Details    0
dtype: int64

# 2.1 Number of Words in each Resume

In [24]:
resume_data['Word_Count'] = resume_data['Raw_Details'].apply(lambda x: len(str(x).split(" ")))
resume_data[['Raw_Details','Word_Count']].head()

                                         Raw_Details  Word_Count
0  Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...        1023
1  G. Ananda Rayudu \n\n\t\t       https://www.li...        1441
2  PeopleSoft Database Administrator\n\n         ...        1346
3  Classification: Internal\n\nClassification: In...         558
4  Priyanka Ramadoss\n\n\t61/46, MountPleasant, \...         667

# 2.2 Number of Characters

In [25]:
resume_data['Char_Count'] = resume_data['Raw_Details'].str.len() ## this also includes spaces
resume_data[['Raw_Details','Char_Count']].head()

                                         Raw_Details  Char_Count
0  Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...        8010
1  G. Ananda Rayudu \n\n\t\t       https://www.li...        8318
2  PeopleSoft Database Administrator\n\n         ...        6900
3  Classification: Internal\n\nClassification: In...        4917
4  Priyanka Ramadoss\n\n\t61/46, MountPleasant, \...        5196

# 2.3 Number of Stopwords¶

In [26]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
resume_data['Stopwords'] = resume_data['Raw_Details'].apply(lambda x: len([x for x in x.split() if x in stop]))
resume_data[['Raw_Details','Stopwords']].head()

                                         Raw_Details  Stopwords
0  Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...        190
1  G. Ananda Rayudu \n\n\t\t       https://www.li...        186
2  PeopleSoft Database Administrator\n\n         ...        177
3  Classification: Internal\n\nClassification: In...        114
4  Priyanka Ramadoss\n\n\t61/46, MountPleasant, \...        123

# 2.4 Number of Numerics¶

In [27]:
resume_data['Numerics'] = resume_data['Raw_Details'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
resume_data[['Raw_Details','Numerics']].head()

                                         Raw_Details  Numerics
0  Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...         4
1  G. Ananda Rayudu \n\n\t\t       https://www.li...         6
2  PeopleSoft Database Administrator\n\n         ...         4
3  Classification: Internal\n\nClassification: In...         7
4  Priyanka Ramadoss\n\n\t61/46, MountPleasant, \...         7

In [28]:
resume_data

,Category,Raw_Details,Word_Count,Char_Count,Stopwords,Numerics
0,PeopleSoft,Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...,1023,8010,190,4
1,PeopleSoft,G. Ananda Rayudu \n\n\t\t https://www.li...,1441,8318,186,6
2,PeopleSoft,PeopleSoft Database Administrator\n\n ...,1346,6900,177,4
3,PeopleSoft,Classification: Internal\n\nClassification: In...,558,4917,114,7
4,PeopleSoft,"Priyanka Ramadoss\n\n\t61/46, MountPleasant, \...",667,5196,123,7
...,...,...,...,...,...,...
73,Workday,Workday Integration Consultant\n\n\n\nName ...,904,7030,197,3
74,Workday,Srikanth (WORKDAY hCM Consultant)\t ...,1063,6737,194,9
75,Workday,WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...,1076,8329,236,6
76,Workday,Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consult...,1031,6836,193,7
77,Workday,Vinay kumar .v\nWorkday Functional Consultant\...,702,5126,150,2

# 3 Text Pre-Processing

# 3.1Using Regular Expression

In [29]:
def preprocess(sentence):
    sentence = str(sentence)
    sentence = sentence.lower()
    sentence = sentence.replace('{html}',"") 
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, '', sentence)
    rem_url = re.sub(r'http\S+', '',cleantext)
    rem_num = re.sub('[0-9]+', '', rem_url)
    tokenizer = RegexpTokenizer(r'\w+')
    tokens = tokenizer.tokenize(rem_num)  
    filtered_words = [w for w in tokens if len(w) > 2 if not w in stopwords.words('english')]

    return " ".join(filtered_words)

In [30]:
resume_data = pd.read_csv('Raw_Resume.csv')
resume_data['Resume_Details'] = resume_data.Raw_Details.apply(lambda x: preprocess(x))

# 3.2 Clean Text from Resume

In [31]:
resume_data

,Category,Raw_Details,Resume_Details
0,PeopleSoft,Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...,anubhav kumar singh core competencies scriptin...
1,PeopleSoft,G. Ananda Rayudu \n\n\t\t https://www.li...,ananda rayudu profile summary years experience...
2,PeopleSoft,PeopleSoft Database Administrator\n\n ...,peoplesoft database administrator gangareddy p...
3,PeopleSoft,Classification: Internal\n\nClassification: In...,classification internal classification interna...
4,PeopleSoft,"Priyanka Ramadoss\n\n\t61/46, MountPleasant, \...",priyanka ramadoss mountpleasant coonoor nilgir...
...,...,...,...
73,Workday,Workday Integration Consultant\n\n\n\nName ...,workday integration consultant name sri krishn...
74,Workday,Srikanth (WORKDAY hCM Consultant)\t ...,srikanth workday hcm consultant seeking suitab...
75,Workday,WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...,workday hcm fcm name kumar role workday consul...
76,Workday,Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consult...,venkateswarlu workday consultant professional ...
77,Workday,Vinay kumar .v\nWorkday Functional Consultant\...,vinay kumar workday functional consultant expe...

# 3.3 Save the Clean Data in new CSV File

In [32]:
resume_data.drop(['Raw_Details'], axis = 1, inplace = True)
resume_data

      Category                                     Resume_Details
0   PeopleSoft  anubhav kumar singh core competencies scriptin...
1   PeopleSoft  ananda rayudu profile summary years experience...
2   PeopleSoft  peoplesoft database administrator gangareddy p...
3   PeopleSoft  classification internal classification interna...
4   PeopleSoft  priyanka ramadoss mountpleasant coonoor nilgir...
..         ...                                                ...
73     Workday  workday integration consultant name sri krishn...
74     Workday  srikanth workday hcm consultant seeking suitab...
75     Workday  workday hcm fcm name kumar role workday consul...
76     Workday  venkateswarlu workday consultant professional ...
77     Workday  vinay kumar workday functional consultant expe...

[78 rows x 2 columns]

In [33]:
resume_data.to_csv('Cleaned_Resumes.csv', index = False)

In [34]:
resume_data = pd.read_csv('Cleaned_Resumes.csv')
resume_data

      Category                                     Resume_Details
0   PeopleSoft  anubhav kumar singh core competencies scriptin...
1   PeopleSoft  ananda rayudu profile summary years experience...
2   PeopleSoft  peoplesoft database administrator gangareddy p...
3   PeopleSoft  classification internal classification interna...
4   PeopleSoft  priyanka ramadoss mountpleasant coonoor nilgir...
..         ...                                                ...
73     Workday  workday integration consultant name sri krishn...
74     Workday  srikanth workday hcm consultant seeking suitab...
75     Workday  workday hcm fcm name kumar role workday consul...
76     Workday  venkateswarlu workday consultant professional ...
77     Workday  vinay kumar workday functional consultant expe...

[78 rows x 2 columns]

In [35]:
resume_data.Resume_Details[5]

'sirazuddin bangalore india sirazuddin bangalore india profile summary overall years experience peoplesoft administrator installed peopletools scratch including products experience peopletools application hrms fscm deterministic approach towards problem solving troubleshooting proficient integration broker upgraded fscm hcm applications peopletools peopletools education graduated tech electronics communication engg college engineering vizianagaram jntuk aggregate achieved marks standard scored standard achievements awarded bravo pat back techahindra awarded associate month award innovator month time awarded spot pat back capgemini work experience capgemini may till production support finance environment respective non production environments project experience project name axa role consultant environment windows server cognizant technol ogy sol ions augus april voya financial insurance client project deals support managing finance applications project experience project name voya financials role associate environment windows server tech mahindra limit july augus peoplesoft implemented fin application peoplesoft implementation project includes peoplesoft applications interfaces third party applications interfaces live production peoplesoft environment sdlc project experience project name role environment cio common software engineer solaris windows server responsibilities provided administrative supports peoplesoft tools version application hrms financials scm modules windows unix creation indexes tables application designer peoplesoft database setup troubleshooting issues daily peoplesoft admin activities configured peoplesoft application server process scheduler web server domains setup master scheduler installing oracle tuxedo weblogic java application disk fscm hcm oracle database unix windows servers scratch installed peopletools hcm fscm demo database upgraded fscm application peopletools peopletools applied patch fscm configured report nodes bouncing app web process schedulers clearing cache performed pre refresh post refresh activity database cloning activity recompilation cobol source codes worked project migrations using application designer change assistant applied image fscm using pum change assistant good hands experience application designer data mover change assistant well aware pia peoplesoft internet architecture configuring integration broker report nodes creating udm file transfer interfaces monitoring deploying gnupg keys certificates servers installed configured elastic search tools used peopletools application designer data mover toad sqldeveloper microsoft sql management studio oracle oracle microsoft sql server filezilla winscp pcomm tws service silva training certifications oracle cloud infrastructure architect associate oracle cloud infrastructure architect professional'

# 4 Named Entity Recognition (NER)¶

In [36]:
oneSetOfStopWords = set(stopwords.words('english')+['``',"''"])
totalWords =[]
Sentences = resume_data['Resume_Details'].values
cleanedSentences = ""
for records in Sentences:
    cleanedText = preprocess(records)
    cleanedSentences += cleanedText
    requiredWords = nltk.word_tokenize(cleanedText)
    for word in requiredWords:
        if word not in oneSetOfStopWords and word not in string.punctuation:
            totalWords.append(word)
    
wordfreqdist = nltk.FreqDist(totalWords)
mostcommon = wordfreqdist.most_common(50)
print(mostcommon)

[('experience', 594), ('peoplesoft', 453), ('workday', 431), ('application', 417), ('using', 389), ('server', 359), ('data', 332), ('reports', 326), ('project', 317), ('sql', 280), ('business', 273), ('web', 250), ('database', 243), ('process', 236), ('worked', 220), ('knowledge', 215), ('client', 193), ('system', 191), ('tools', 190), ('integrations', 189), ('involved', 188), ('integration', 183), ('hcm', 182), ('support', 178), ('like', 177), ('skills', 169), ('good', 169), ('development', 165), ('creating', 164), ('working', 162), ('team', 162), ('people', 160), ('technical', 160), ('report', 155), ('services', 153), ('servers', 152), ('design', 151), ('testing', 150), ('created', 149), ('responsibilities', 147), ('various', 146), ('react', 145), ('oracle', 142), ('environment', 139), ('role', 136), ('management', 136), ('security', 134), ('developer', 134), ('eib', 134), ('production', 133)]